body {
    font-size: 9px;
}

.navbar a {
    font-size: 100%;
}

.navbar {
    width: 92%;
}

#p {
    font-size: 12px;
}

#h3 {
    animation: none
}

#follow li {
    margin: 7px;
    background-color: rgb(121, 101, 101);
    border-radius: 20px;
    padding: 0px 7px
}