body {
    font-size: 9px;
}

.navbar {
    width: 90%;
}

.navbar a {
    font-size: 7px;
}

#p {
    font-size: 9px;
}

#h3 {
    display: none;
}

#follow li {
    margin: 7px;
    background-color: rgb(121, 101, 101);
    border-radius: 20px;
    padding: 0px 3px
}

#h4 {
    font-size: 5px;
}